
<% (1..9).each do |y| %>
	<% (1..9).each do |x| %>
		<div id="board-square-<%= x %>-<%= y %>" class="board-square"></div>
	<% end %>
	<br />
<% end %>

<script src="http://localhost:8080/socket.io/socket.io.js"></script>
