
.board-square {
  display: inline-block;
  border: 1px solid #000000;
  width: 32px;
  height: 32px;
}

.grass {
  background-color: #5F5;
}

.wood {
  background-color: #050;
}

.water {
  background-color: #00B;
}

.void {
  background-color: #999;
}
